.siri{
    background-color: black;
    

}
.kei{
    color: white;
    text-align: center;
}
.emmie{
background-color: greenyellow;
display: flex ;
justify-content: space-between;
padding: 10px;
}
.sese{
    color: white;
}