.siel{
    background-color: black;
    background-repeat: no-repeat;
    background-image:url(IMG_20260515_100953.jpg) ;
}
.emmie{
    background-color: greenyellow;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.siko{
    color: white;
}
.siko{
    text-align: center;
}
