.aasi{
    background-color: black;
    background-repeat: no-repeat;
    background-image:url(IMG_20260515_100953.jpg) ;
    
    
    
}
.emmie{
    color: darkorange;
    background-color:greenyellow;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.sot{
    color: white;
    text-align: center;
}
.sese{
    color: white;
}
.sese{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lyi{
    list-style: none;
}